In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/houhiroshisakai/Desktop/Schulich/Term 2/MBAN 6120/ramen-ratings.csv')

In [3]:
from surprise import Dataset, Reader, KNNBasic
from surprise.model_selection import cross_validate

In [4]:
df.describe()

          Review #
count  2580.000000
mean   1290.500000
std     744.926171
min       1.000000
25%     645.750000
50%    1290.500000
75%    1935.250000
max    2580.000000

In [5]:
reader = Reader(rating_scale = (0.5,5))

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  2580 non-null   int64
 1   Brand     2580 non-null   object
 2   Variety   2580 non-null   object
 3   Style     2578 non-null   object
 4   Country   2580 non-null   object
 5   Stars     2580 non-null   object
 6   Top Ten   41 non-null     object
dtypes: int64(1), object(6)
memory usage: 141.2+ KB

In [7]:
df.dropna

<bound method DataFrame.dropna of       Review #           Brand
0         2580       New Touch  \
1         2579        Just Way
2         2578          Nissin
3         2577         Wei Lih
4         2576  Ching's Secret
...        ...             ...
2575         5           Vifon
2576         4         Wai Wai
2577         3         Wai Wai
2578         2         Wai Wai
2579         1        Westbrae

                                                Variety Style   Country Stars
0                             T's Restaurant Tantanmen    Cup     Japan  3.75  \
1     Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...  Pack    Taiwan     1
2                         Cup Noodles Chicken Vegetable   Cup       USA  2.25
3                         GGE Ramen Snack Tomato Flavor  Pack    Taiwan  2.75
4                                       Singapore Curry  Pack     India  3.75
...                                                 ...   ...       ...   ...
2575  Hu Tiu Nam Vang ["Phnom Penh" style] Asian Sty...  Bowl   Vietnam   3.5
2576                     Oriental Style Instant Noodles  Pack  Thailand     1
2577                                     Tom Yum Shrimp  Pack  Thailand     2
2578                               Tom Yum Chili Flavor  Pack  Thailand     2
2579                                         Miso Ramen  Pack       USA   0.5

     Top Ten
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
2575     NaN
2576     NaN
2577     NaN
2578     NaN
2579     NaN

[2580 rows x 7 columns]>

In [10]:
df['Style'].fillna('Other')

0        Cup
1       Pack
2        Cup
3       Pack
4       Pack
        ...
2575    Bowl
2576    Pack
2577    Pack
2578    Pack
2579    Pack
Name: Style, Length: 2580, dtype: object

In [11]:
df['Style'].unique()

array(['Cup', 'Pack', 'Tray', 'Bowl', 'Box', 'Can', 'Bar', nan],
      dtype=object)

In [12]:
##Feature Engineering// Dummies
style_mapping = {'Cup':1, 'Pack':2,'Tray':3,'Bowl':4,'Box':5,'Can':6,'Bar':7,'nan':8}
df['Style'] = df['Style'].map(style_mapping)

In [13]:
data = Dataset.load_from_df(df[['Style','Stars']], reader)

ValueError: not enough values to unpack (expected 3, got 2)