In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns

In [2]:
df = pd.read_csv('/Users/houhiroshisakai/Desktop/Schulich/MBAN 6110 S - Data Science I/new_data.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000000 entries, 0 to 9999999
Data columns (total 10 columns):
 #   Column         Dtype
---  ------         -----
 0   Unnamed: 0     int64
 1   event_time     object
 2   event_type     object
 3   product_id     int64
 4   category_id    int64
 5   category_code  object
 6   brand          object
 7   price          float64
 8   user_id        int64
 9   user_session   object
dtypes: float64(1), int64(4), object(5)
memory usage: 762.9+ MB

In [4]:
df.describe()

         Unnamed: 0    product_id   category_id         price       user_id
count  1.000000e+07  1.000000e+07  1.000000e+07  1.000000e+07  1.000000e+07
mean   5.000000e+06  1.100008e+07  2.057828e+18  2.925741e+02  5.354292e+08
std    2.886751e+06  1.228346e+07  1.943274e+16  3.538111e+02  2.037214e+07
min    0.000000e+00  1.000365e+06  2.053014e+18  0.000000e+00  1.030022e+07
25%    2.500000e+06  1.005252e+06  2.053014e+18  6.667000e+01  5.159950e+08
50%    5.000000e+06  5.100722e+06  2.053014e+18  1.653100e+02  5.306267e+08
75%    7.499999e+06  1.640001e+07  2.053014e+18  3.654600e+02  5.548916e+08
max    9.999999e+06  6.210003e+07  2.180737e+18  2.574070e+03  5.684226e+08

In [10]:
df_samsung = df_grouped.get_group('samsung')

In [22]:
apple = df[(df['brand'] == 'apple')&(df['event_type'] == 'purchase')]['price']
samsung = df[(df['brand'] == 'samsung')&(df['event_type'] == 'purchase')]['price']

In [23]:
t_stat, p_val = stats.ttest_ind(apple, samsung)

In [25]:
print(f"T-statistic: {t_stat}")
print(f"P-value: {p_val}")

T-statistic: 191.6586077359348
P-value: 0.0