Part 1

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/houhiroshisakai/Desktop/Schulich/Term 2/MBAN 5110/midterm_partone.csv')

In [3]:
df

,Constant,Stock Change,Inventory Turnover,Operating Profit,Interaction Effect,Current Ratio,Quick Ratio,Debt Asset Ratio
0,1,0.870332,1.795946,0.115846,0.208053,1.672527,0.255171,0.473317
1,1,-0.047347,1.395501,0.436967,0.609788,1.637261,0.221763,0.489967
2,1,0.001176,1.664563,0.541016,0.900555,1.640619,0.189141,0.374269
3,1,-0.901200,1.605738,0.539399,0.866133,1.436221,0.131944,0.224399
4,1,-0.176353,1.591451,0.539938,0.859285,1.433140,0.183095,0.213446
...,...,...,...,...,...,...,...,...
1691,1,-0.015543,5.225766,0.309119,1.615384,3.554503,2.197871,0.005549
1692,1,0.399089,5.324390,0.274782,1.463044,3.745006,2.324502,0.004359
1693,1,-0.702200,5.575258,0.287503,1.602905,3.434909,2.282626,0.000000
1694,1,0.283926,5.423463,0.256657,1.391968,2.876645,1.454948,0.000000
1695,1,-0.008141,5.239394,0.217016,1.137033,2.871897,1.419066,0.000000

In [4]:
import numpy as np
from statsmodels.sandbox.regression.gmm import GMM

y = np.array(df['Stock Change'])
x = np.array(df[['Inventory Turnover','Operating Profit','Interaction Effect']])
z = np.array(df[['Current Ratio','Quick Ratio','Debt Asset Ratio']])

In [5]:
class gmm(GMM):
    def momcond(self, params):
        p0,p1,p2,p3 = params
        endog = self.endog
        exog = self.exog
        inst = self.instrument
        error0 = endog - p0 - p1 *  exog[:,0] - p2 * exog[:,1] - p3 * exog[:,2]
        error1 = error0 * exog[:,1]
        error2 = error0 * exog[:,2]
        error3 = error0 * inst[:,0]
        error4 = error0 * inst[:,1]
        error5 = error0 * inst[:,2]

        g = np.column_stack((error0,error1,error2,error3,error4,error5))
        return g
    
beta0 = np.array([0.1,0.1,0.1,0.1])
res = gmm(endog = y, exog = x, instrument = z, k_moms= 6, k_params= 4).fit(beta0)
res.summary()

Optimization terminated successfully.
         Current function value: 0.000046
         Iterations: 8
         Function evaluations: 12
         Gradient evaluations: 12
Optimization terminated successfully.
         Current function value: 0.000373
         Iterations: 7
         Function evaluations: 13
         Gradient evaluations: 13
Optimization terminated successfully.
         Current function value: 0.000372
         Iterations: 5
         Function evaluations: 9
         Gradient evaluations: 9
Optimization terminated successfully.
         Current function value: 0.000372
         Iterations: 5
         Function evaluations: 11
         Gradient evaluations: 11
Optimization terminated successfully.
         Current function value: 0.000372
         Iterations: 0
         Function evaluations: 1
         Gradient evaluations: 1

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 gmm Results
==============================================================================
Dep. Variable:                      y   Hansen J:                       0.6317
Model:                            gmm   Prob (Hansen J):                 0.729
Method:                           GMM
Date:                Sun, 05 Nov 2023
Time:                        11:20:31
No. Observations:                1696
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
p 0           -0.0200      0.021     -0.964      0.335      -0.061       0.021
p 1            0.0011      0.001      1.843      0.065   -6.89e-05       0.002
p 2           -0.1071      0.032     -3.370      0.001      -0.169      -0.045
p 3            0.0011      0.000      2.760      0.006       0.000       0.002
==============================================================================
"""

In [11]:
model = gmm(endog = y, exog = x, instrument=z, k_moms=6, k_params=4)
res = model.fit(beta0)

params = res.params
for i in range(1,10):
    moms = model.momcond(params)
    weights = model.calc_weightmatrix(moms)
    model.w = weights
    res = model.fit(start_params = params, maxiter = 1, wargs = {'centered': False})
    params = res.params

res.summary()

Optimization terminated successfully.
         Current function value: 0.000046
         Iterations: 8
         Function evaluations: 12
         Gradient evaluations: 12
Optimization terminated successfully.
         Current function value: 0.000373
         Iterations: 7
         Function evaluations: 13
         Gradient evaluations: 13
Optimization terminated successfully.
         Current function value: 0.000372
         Iterations: 5
         Function evaluations: 9
         Gradient evaluations: 9
Optimization terminated successfully.
         Current function value: 0.000372
         Iterations: 5
         Function evaluations: 11
         Gradient evaluations: 11
Optimization terminated successfully.
         Current function value: 0.000372
         Iterations: 0
         Function evaluations: 1
         Gradient evaluations: 1
Optimization terminated successfully.
         Current function value: 0.000046
         Iterations: 13
         Function evaluations: 16
         Gradient evaluations: 16
Optimization terminated successfully.
         Current function value: 0.000046
         Iterations: 0
         Function evaluations: 1
         Gradient evaluations: 1
Optimization terminated successfully.
         Current function value: 0.000046
         Iterations: 0
         Function evaluations: 1
         Gradient evaluations: 1
Optimization terminated successfully.
         Current function value: 0.000046
         Iterations: 0
         Function evaluations: 1
         Gradient evaluations: 1
Optimization terminated successfully.
         Current function value: 0.000046
         Iterations: 0
         Function evaluations: 1
         Gradient evaluations: 1
Optimization terminated successfully.
         Current function value: 0.000046
         Iterations: 0
         Function evaluations: 1
         Gradient evaluations: 1
Optimization terminated successfully.
         Current function value: 0.000046
         Iterations: 0
         Function evaluations: 1
         Gradient evaluations: 1
Optimization terminated successfully.
         Current function value: 0.000046
         Iterations: 0
         Function evaluations: 1
         Gradient evaluations: 1
Optimization terminated successfully.
         Current function value: 0.000046
         Iterations: 0
         Function evaluations: 1
         Gradient evaluations: 1

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 gmm Results
==============================================================================
Dep. Variable:                      y   Hansen J:                      0.07731
Model:                            gmm   Prob (Hansen J):                 0.962
Method:                           GMM
Date:                Sun, 05 Nov 2023
Time:                        12:41:24
No. Observations:                1696
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
p 0           -0.0333      0.021     -1.600      0.110      -0.074       0.007
p 1            0.0014      0.001      2.348      0.019       0.000       0.003
p 2           -0.0946      0.032     -2.947      0.003      -0.158      -0.032
p 3            0.0010      0.000      2.357      0.018       0.000       0.002
==============================================================================
"""

Part 2

In [12]:
df_pt2 = pd.read_csv('/Users/houhiroshisakai/Desktop/Schulich/Term 2/MBAN 5110/midterm_parttwo.csv')

In [13]:
df_pt2

,Years of Education after High School,Requested Credit Amount,Number of Dependents,Monthly Income,Monthly Expense,Marital Status,Credit Rating
0,1,Low,No dependent,Very low,Very low,Married,Positive
1,2,Low,No dependent,Very low,Very low,Single,Positive
2,1,Low,No dependent,Very low,Very low,Single,Positive
3,3,Low,No dependent,Very low,Very low,Married,Positive
4,3,Low,No dependent,Very low,Very low,Single,Negative
...,...,...,...,...,...,...,...
8076,3,Low,Less than 2,Very High,Very high,Married,Positive
8077,3,Medium,Less than 2,Very High,Very high,Married,Negative
8078,3,Medium,More than 2,Very High,Very high,Married,Positive
8079,7,Medium,Less than 2,Very High,Very high,Married,Positive
8080,3,Medium,Less than 2,Very High,Very high,Married,Positive

In [15]:
df_pt2 = pd.get_dummies(df_pt2, columns=['Requested Credit Amount','Number of Dependents','Monthly Income','Monthly Expense','Marital Status','Credit Rating'],drop_first = True)

In [16]:
df_pt2

,Years of Education after High School,Requested Credit Amount_Low,Requested Credit Amount_Medium,Number of Dependents_More than 2,Number of Dependents_No dependent,Monthly Income_Low,Monthly Income_Moderate,Monthly Income_Very High,Monthly Income_Very low,Monthly Expense_Low,Monthly Expense_Moderate,Monthly Expense_Very high,Monthly Expense_Very low,Marital Status_Not specified,Marital Status_Single,Credit Rating_Positive
0,1,True,False,False,True,False,False,False,True,False,False,False,True,False,False,True
1,2,True,False,False,True,False,False,False,True,False,False,False,True,False,True,True
2,1,True,False,False,True,False,False,False,True,False,False,False,True,False,True,True
3,3,True,False,False,True,False,False,False,True,False,False,False,True,False,False,True
4,3,True,False,False,True,False,False,False,True,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8076,3,True,False,False,False,False,False,True,False,False,False,True,False,False,False,True
8077,3,False,True,False,False,False,False,True,False,False,False,True,False,False,False,False
8078,3,False,True,True,False,False,False,True,False,False,False,True,False,False,False,True
8079,7,False,True,False,False,False,False,True,False,False,False,True,False,False,False,True
8080,3,False,True,False,False,False,False,True,False,False,False,True,False,False,False,True

In [24]:
from sklearn.model_selection import train_test_split

y = df_pt2['Credit Rating_Positive']
x = df_pt2.drop('Credit Rating_Positive',axis = 1)

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.5, random_state=42)

In [25]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(x_train, y_train)

LogisticRegression()

In [26]:
from sklearn.metrics import confusion_matrix, recall_score, precision_score, f1_score

y_pred = model.predict(x_test)

cm = confusion_matrix(y_test, y_pred)
recall = recall_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
f1 = f1_score(y_test,y_pred)

print('Confusion Matrix is: \n', cm)
print('Recall: ', recall)
print('Precision: ', precision)
print('F1 Score: ', f1)

Confusion Matrix is:
 [[   0  577]
 [   0 3464]]
Recall:  1.0
Precision:  0.8572135609997525
F1 Score:  0.9231179213857428

In [27]:
y_prob = model.predict_proba(x_test)[:,1]

threshold = np.percentile(y_prob, 85)

y_pred_adjusted = (y_prob > threshold).astype(int)

cm_adjusted = confusion_matrix(y_test, y_pred_adjusted)
recall_adjusted = recall_score(y_test, y_pred_adjusted)
precision_adjusted = precision_score(y_test, y_pred_adjusted)
f1_adjusted = f1_score(y_test,y_pred_adjusted)

print('Adjusted Confustion Matrix is: \n', cm_adjusted)
print('Adjusted Recall: ', recall_adjusted)
print('Adjusted Precision: ', precision_adjusted)
print('Adjusted F1 Score: ', f1_adjusted)

Adjusted Confustion Matrix is:
 [[ 496   81]
 [2940  524]]
Adjusted Recall:  0.151270207852194
Adjusted Precision:  0.8661157024793389
Adjusted F1 Score:  0.2575571393462768