In [1]:
import pandas as pd

In [8]:
df1 = pd.read_csv('/Users/houhiroshisakai/Desktop/Professor Yang Research/demog.csv')
df2 = pd.read_csv('/Users/houhiroshisakai/Desktop/Professor Yang Research/cesd_item_level.csv')
df3 = pd.read_csv('/Users/houhiroshisakai/Desktop/Professor Yang Research/Untitled.csv')

In [10]:
df_temp = pd.merge(df1, df2, on='userid', how='outer')
df = pd.merge(df_temp, df3, on='userid', how='outer')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4511460 entries, 0 to 4511459
Data columns (total 46 columns):
 #   Column               Dtype
---  ------               -----
 0   userid               object
 1   gender               float64
 2   birthday             object
 3   age                  float64
 4   relationship_status  float64
 5   interested_in        float64
 6   mf_relationship      float64
 7   mf_dating            float64
 8   mf_random            float64
 9   mf_friendship        float64
 10  mf_whatever          float64
 11  mf_networking        float64
 12  locale               object
 13  network_size         float64
 14  timezone             float64
 15  date_added           object
 16  time_completed       object
 17  question_order       object
 18  ethnicity            object
 19  marital_status       object
 20  parents_together     object
 21  q1                   float64
 22  q2                   float64
 23  q3                   float64
 24  q4                   float64
 25  q5                   float64
 26  q6                   float64
 27  q7                   float64
 28  q8                   float64
 29  q9                   float64
 30  q10                  float64
 31  q11                  float64
 32  q12                  float64
 33  q13                  float64
 34  q14                  float64
 35  q15                  float64
 36  q16                  float64
 37  q17                  float64
 38  q18                  float64
 39  q19                  float64
 40  q20                  float64
 41  message              object
 42  depression_score     object
 43  depression_label     object
 44  message_fmtd         object
 45  afinn_score          object
dtypes: float64(32), object(14)
memory usage: 1.5+ GB

In [12]:
df.isna().sum()

userid                       7
gender                   81349
birthday               2717947
age                    2717947
relationship_status    2435910
interested_in          3248648
mf_relationship        4456117
mf_dating              4461978
mf_random              4496346
mf_friendship          4238471
mf_whatever            4486915
mf_networking          4453416
locale                  396384
network_size           2066624
timezone               1944620
date_added             4277337
time_completed         4277337
question_order         4277337
ethnicity              4289971
marital_status         4294677
parents_together       4288079
q1                     4277337
q2                     4277337
q3                     4277337
q4                     4277337
q5                     4277337
q6                     4277337
q7                     4277337
q8                     4277337
q9                     4277337
q10                    4277337
q11                    4277337
q12                    4277337
q13                    4277337
q14                    4277337
q15                    4277337
q16                    4277337
q17                    4277337
q18                    4277337
q19                    4277337
q20                    4277337
message                4282668
depression_score       4282724
depression_label       4282720
message_fmtd           4285692
afinn_score            4282772
dtype: int64

In [13]:
df['depression_label'].fillna(0, inplace=True)
for i in df.columns:
    if df[i].dtype in ['int64','float64']:
        df[i].fillna(df[i].mean(), inplace=True)

    elif df[i].dtype == 'object':
        df[i].fillna('Other', inplace=True)

In [14]:
df

,userid,gender,birthday,age,relationship_status,interested_in,mf_relationship,mf_dating,mf_random,mf_friendship,...,q16,q17,q18,q19,q20,message,depression_score,depression_label,message_fmtd,afinn_score
0,19f0d17a70b1f8bdebead1b0034e49a2,1.00000,Other,26.102816,1.828802,1.545027,1.0,1.0,1.0,1.0,...,2.55101,1.812146,2.634256,2.396463,2.55033,Other,Other,0,Other,Other
1,1ccb3ff9d047f12067a17cc9eada055a,0.00000,Other,26.102816,1.828802,1.545027,1.0,1.0,1.0,1.0,...,2.55101,1.812146,2.634256,2.396463,2.55033,Other,Other,0,Other,Other
2,5da122c767fef5cc867b373b9e2cc6f0,1.00000,Other,26.102816,1.828802,1.545027,1.0,1.0,1.0,1.0,...,2.55101,1.812146,2.634256,2.396463,2.55033,Other,Other,0,Other,Other
3,f0e358a395e5b03be83077aada4b30d2,1.00000,Other,26.102816,1.828802,1.545027,1.0,1.0,1.0,1.0,...,2.55101,1.812146,2.634256,2.396463,2.55033,Other,Other,0,Other,Other
4,7a9984f785c32acc0135472199058b43,1.00000,Other,26.102816,1.828802,1.545027,1.0,1.0,1.0,1.0,...,2.55101,1.812146,2.634256,2.396463,2.55033,Other,Other,0,Other,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4511455,::: (\_(\ ...*...*...*...*...*...*...*...*...:...,0.64802,Other,26.102816,1.828802,1.545027,1.0,1.0,1.0,1.0,...,2.55101,1.812146,2.634256,2.396463,2.55033,Other,Other,0,Other,Other
4511456,*: (=' :') :: Fsymbols.com rule! :::::::::::::...,0.64802,Other,26.102816,1.828802,1.545027,1.0,1.0,1.0,1.0,...,2.55101,1.812146,2.634256,2.396463,2.55033,Other,Other,0,Other,Other
4511457,".. (,('')('')¤...*...*...*...*...*...*...*...*...",0.64802,Other,26.102816,1.828802,1.545027,1.0,1.0,1.0,1.0,...,2.55101,1.812146,2.634256,2.396463,2.55033,36.0,1,symbol com rule,0.0,Other
4511458,"(¸.""´(¸."" (¸.""´¸¸.""¨¯`"".¸¸.? Keep this balloon...",0.64802,Other,26.102816,1.828802,1.545027,1.0,1.0,1.0,1.0,...,2.55101,1.812146,2.634256,2.396463,2.55033,37.0,1,keep balloon go they find identity little boy ...,-3.0,Other
4511459,"(¸.""´(¸."" (¸.""´¸¸.""¨¯`"".¸¸.? RIP Camden Pierce...",0.64802,Other,26.102816,1.828802,1.545027,1.0,1.0,1.0,1.0,...,2.55101,1.812146,2.634256,2.396463,2.55033,37.0,1,rip camden pierce hughes,0.0,Other

In [15]:
df['date_added'] = df['date_added'].astype(str)
df['time_completed'] = df['time_completed'].astype(str)
df['birthday'] = df['birthday'].astype(str)

#Convert 'Other' to timeFrame
specific_date = '2023-10-26'
specific_date_and_time = '2023-10-26 00:00:00'
df.loc[df['date_added'] == "Other", 'date_added'] = specific_date_and_time
df.loc[df['time_completed'] == "Other", 'time_completed'] = specific_date_and_time
df.loc[df['birthday'] == "Other", 'birthday'] = specific_date

# Convert type of datetime
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')
df['time_completed'] = pd.to_datetime(df['time_completed'], errors='coerce')
df['birthday'] = pd.to_datetime(df['birthday'], errors='coerce')

In [16]:
df['birthday']

0         2023-10-26
1         2023-10-26
2         2023-10-26
3         2023-10-26
4         2023-10-26
             ...
4511455   2023-10-26
4511456   2023-10-26
4511457   2023-10-26
4511458   2023-10-26
4511459   2023-10-26
Name: birthday, Length: 4511460, dtype: datetime64[ns]

In [17]:
df

,userid,gender,birthday,age,relationship_status,interested_in,mf_relationship,mf_dating,mf_random,mf_friendship,...,q16,q17,q18,q19,q20,message,depression_score,depression_label,message_fmtd,afinn_score
0,19f0d17a70b1f8bdebead1b0034e49a2,1.00000,2023-10-26,26.102816,1.828802,1.545027,1.0,1.0,1.0,1.0,...,2.55101,1.812146,2.634256,2.396463,2.55033,Other,Other,0,Other,Other
1,1ccb3ff9d047f12067a17cc9eada055a,0.00000,2023-10-26,26.102816,1.828802,1.545027,1.0,1.0,1.0,1.0,...,2.55101,1.812146,2.634256,2.396463,2.55033,Other,Other,0,Other,Other
2,5da122c767fef5cc867b373b9e2cc6f0,1.00000,2023-10-26,26.102816,1.828802,1.545027,1.0,1.0,1.0,1.0,...,2.55101,1.812146,2.634256,2.396463,2.55033,Other,Other,0,Other,Other
3,f0e358a395e5b03be83077aada4b30d2,1.00000,2023-10-26,26.102816,1.828802,1.545027,1.0,1.0,1.0,1.0,...,2.55101,1.812146,2.634256,2.396463,2.55033,Other,Other,0,Other,Other
4,7a9984f785c32acc0135472199058b43,1.00000,2023-10-26,26.102816,1.828802,1.545027,1.0,1.0,1.0,1.0,...,2.55101,1.812146,2.634256,2.396463,2.55033,Other,Other,0,Other,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4511455,::: (\_(\ ...*...*...*...*...*...*...*...*...:...,0.64802,2023-10-26,26.102816,1.828802,1.545027,1.0,1.0,1.0,1.0,...,2.55101,1.812146,2.634256,2.396463,2.55033,Other,Other,0,Other,Other
4511456,*: (=' :') :: Fsymbols.com rule! :::::::::::::...,0.64802,2023-10-26,26.102816,1.828802,1.545027,1.0,1.0,1.0,1.0,...,2.55101,1.812146,2.634256,2.396463,2.55033,Other,Other,0,Other,Other
4511457,".. (,('')('')¤...*...*...*...*...*...*...*...*...",0.64802,2023-10-26,26.102816,1.828802,1.545027,1.0,1.0,1.0,1.0,...,2.55101,1.812146,2.634256,2.396463,2.55033,36.0,1,symbol com rule,0.0,Other
4511458,"(¸.""´(¸."" (¸.""´¸¸.""¨¯`"".¸¸.? Keep this balloon...",0.64802,2023-10-26,26.102816,1.828802,1.545027,1.0,1.0,1.0,1.0,...,2.55101,1.812146,2.634256,2.396463,2.55033,37.0,1,keep balloon go they find identity little boy ...,-3.0,Other
4511459,"(¸.""´(¸."" (¸.""´¸¸.""¨¯`"".¸¸.? RIP Camden Pierce...",0.64802,2023-10-26,26.102816,1.828802,1.545027,1.0,1.0,1.0,1.0,...,2.55101,1.812146,2.634256,2.396463,2.55033,37.0,1,rip camden pierce hughes,0.0,Other

In [ ]:
if df['depression_label'] != 0 or df['depression_score'] != 1:
    df.drop(df[])