In [30]:
import pandas as pd
import numpy as np

In [31]:
df = pd.read_excel('/Users/houhiroshisakai/Desktop/Schulich/MMAI 5000 N - Artificial Intelligent Fundamentals/Group Project Data-SFD Data-Toronto Police.xlsx')

In [32]:
df

,X,Y,OBJECTID,EVENT_UNIQUE_ID,OCC_DATE,OCC_YEAR,OCC_MONTH,OCC_DOW,OCC_DOY,OCC_DAY,...,OCC_TIME_RANGE,DIVISION,DEATH,INJURIES,HOOD_158,NEIGHBOURHOOD_158,HOOD_140,NEIGHBOURHOOD_140,LONG_WGS84,LAT_WGS84
0,-79.234955,43.781528,1,GO-2004397105,2004/05/15 04:00:00+00,2004,May,Saturday,136,15,...,Night,D41,0,0,142,Woburn North,137,Woburn (137),-79.234955,43.781528
1,-79.618218,43.733547,2,GO-2004600109,2004/07/26 04:00:00+00,2004,July,Monday,208,26,...,Evening,D23,0,0,1,West Humber-Clairville,1,West Humber-Clairville (1),-79.618218,43.733547
2,-79.518759,43.769157,3,GO-2004311851,2004/05/14 04:00:00+00,2004,May,Friday,135,14,...,Afternoon,D31,1,1,24,Black Creek,24,Black Creek (24),-79.518759,43.769157
3,-79.378870,43.660665,4,GO-2004736004,2004/12/19 05:00:00+00,2004,December,Sunday,354,19,...,Night,D51,1,0,168,Downtown Yonge East,75,Church-Yonge Corridor (75),-79.378870,43.660665
4,-79.212435,43.812075,5,GO-2004303455,2004/04/12 04:00:00+00,2004,April,Monday,103,12,...,Evening,D42,0,0,146,Malvern East,132,Malvern (132),-79.212435,43.812075
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5702,-79.362941,43.771764,5703,GO-20221038418,2022/06/02 04:00:00+00,2022,June,Thursday,153,2,...,Night,D33,0,1,53,Henry Farm,53,Henry Farm (53),-79.362941,43.771764
5703,-79.402702,43.643920,5704,GO-20221362949,2022/07/17 04:00:00+00,2022,July,Sunday,198,17,...,Night,D14,1,1,164,Wellington Place,77,Waterfront Communities-The Island (77),-79.402702,43.643920
5704,-79.196217,43.786621,5705,GO-2022336423,2022/02/21 05:00:00+00,2022,February,Monday,52,21,...,Night,D43,0,0,135,Morningside,135,Morningside (135),-79.196217,43.786621
5705,-79.443993,43.658083,5706,GO-20221765442,2022/09/11 04:00:00+00,2022,September,Sunday,254,11,...,Night,D11,0,2,83,Dufferin Grove,83,Dufferin Grove (83),-79.443993,43.658083
5706,-79.369456,43.654519,5707,GO-2022783839,2022/04/27 04:00:00+00,2022,April,Wednesday,117,27,...,Afternoon,D51,0,0,73,Moss Park,73,Moss Park (73),-79.369456,43.654519

In [39]:
df = df.drop(['X','Y','LONG_WGS84','LAT_WGS84','EVENT_UNIQUE_ID','OCC_DOY','OCC_DAY','DEATH','INJURIES'],axis=1)

In [40]:
df = df.replace(to_replace = 'NSA', value = np.nan)

In [41]:
df.dropna(axis=0,how='any')

,OBJECTID,OCC_DATE,OCC_YEAR,OCC_MONTH,OCC_DOW,OCC_HOUR,OCC_TIME_RANGE,DIVISION,HOOD_158,NEIGHBOURHOOD_158,HOOD_140,NEIGHBOURHOOD_140
0,1,2004/05/15 04:00:00+00,2004,May,Saturday,1,Night,D41,142.0,Woburn North,137.0,Woburn (137)
1,2,2004/07/26 04:00:00+00,2004,July,Monday,23,Evening,D23,1.0,West Humber-Clairville,1.0,West Humber-Clairville (1)
2,3,2004/05/14 04:00:00+00,2004,May,Friday,16,Afternoon,D31,24.0,Black Creek,24.0,Black Creek (24)
3,4,2004/12/19 05:00:00+00,2004,December,Sunday,0,Night,D51,168.0,Downtown Yonge East,75.0,Church-Yonge Corridor (75)
4,5,2004/04/12 04:00:00+00,2004,April,Monday,22,Evening,D42,146.0,Malvern East,132.0,Malvern (132)
...,...,...,...,...,...,...,...,...,...,...,...,...
5702,5703,2022/06/02 04:00:00+00,2022,June,Thursday,3,Night,D33,53.0,Henry Farm,53.0,Henry Farm (53)
5703,5704,2022/07/17 04:00:00+00,2022,July,Sunday,3,Night,D14,164.0,Wellington Place,77.0,Waterfront Communities-The Island (77)
5704,5705,2022/02/21 05:00:00+00,2022,February,Monday,5,Night,D43,135.0,Morningside,135.0,Morningside (135)
5705,5706,2022/09/11 04:00:00+00,2022,September,Sunday,1,Night,D11,83.0,Dufferin Grove,83.0,Dufferin Grove (83)
5706,5707,2022/04/27 04:00:00+00,2022,April,Wednesday,17,Afternoon,D51,73.0,Moss Park,73.0,Moss Park (73)

In [42]:
df.head(15)

,OBJECTID,OCC_DATE,OCC_YEAR,OCC_MONTH,OCC_DOW,OCC_HOUR,OCC_TIME_RANGE,DIVISION,HOOD_158,NEIGHBOURHOOD_158,HOOD_140,NEIGHBOURHOOD_140
0,1,2004/05/15 04:00:00+00,2004,May,Saturday,1,Night,D41,142.0,Woburn North,137.0,Woburn (137)
1,2,2004/07/26 04:00:00+00,2004,July,Monday,23,Evening,D23,1.0,West Humber-Clairville,1.0,West Humber-Clairville (1)
2,3,2004/05/14 04:00:00+00,2004,May,Friday,16,Afternoon,D31,24.0,Black Creek,24.0,Black Creek (24)
3,4,2004/12/19 05:00:00+00,2004,December,Sunday,0,Night,D51,168.0,Downtown Yonge East,75.0,Church-Yonge Corridor (75)
4,5,2004/04/12 04:00:00+00,2004,April,Monday,22,Evening,D42,146.0,Malvern East,132.0,Malvern (132)
5,6,2004/03/14 05:00:00+00,2004,March,Sunday,0,Night,D33,150.0,Fenside-Parkwoods,45.0,Parkwoods-Donalda (45)
6,7,2004/01/19 05:00:00+00,2004,January,Monday,23,Evening,D42,144.0,Morningside Heights,131.0,Rouge (131)
7,8,2004/09/08 04:00:00+00,2004,September,Wednesday,14,Afternoon,D23,2.0,Mount Olive-Silverstone-Jamestown,2.0,Mount Olive-Silverstone-Jamestown (2)
8,9,2004/04/14 04:00:00+00,2004,April,Wednesday,23,Evening,D14,85.0,South Parkdale,85.0,South Parkdale (85)
9,10,2004/10/15 04:00:00+00,2004,October,Friday,14,Afternoon,D31,NaN,NaN,NaN,NaN
10,11,2004/10/27 04:00:00+00,2004,October,Wednesday,20,Evening,D33,150.0,Fenside-Parkwoods,45.0,Parkwoods-Donalda (45)
11,12,2004/11/15 05:00:00+00,2004,November,Monday,17,Afternoon,D23,2.0,Mount Olive-Silverstone-Jamestown,2.0,Mount Olive-Silverstone-Jamestown (2)
12,13,2004/10/31 04:00:00+00,2004,October,Sunday,4,Night,D12,113.0,Weston,113.0,Weston (113)
13,14,2004/12/19 05:00:00+00,2004,December,Sunday,17,Afternoon,D41,124.0,Kennedy Park,124.0,Kennedy Park (124)
14,15,2004/08/27 04:00:00+00,2004,August,Friday,0,Night,D12,111.0,Rockcliffe-Smythe,111.0,Rockcliffe-Smythe (111)